body{
margin:0;
font-family:Arial;
background:#f9e6ff;
}
.container{
width:1200px;
margin:auto;
background:white;
box-shadow:0 0 15px rgba(0,0,0,0.2);
}
.header{
height:140px;
background:#8a2be2;
display:flex;
align-items:center;
padding-left:20px;
}

.logo img{
width:90px;
}
.title{
color:white;
font-size:40px;
margin-left:30px;
font-weight:bold;
}
.main{
display:flex;
}
.menu{
width:220px;
background:#e6ccff;
padding-top:20px;
}
.menu a{
display:block;
padding:15px;
color:#4b0082;
text-decoration:none;
font-weight:bold;
}
.menu a:hover{
background:#d1a3ff;
}
.content{
flex:1;
padding:20px;
}
iframe{
width:100%;
height:600px;
border:none;
}
.footer{
background:#e6ccff;
text-align:center;
padding:10px;
}
